* {
  text-align: center;
}

body {
  background-color: teal;
  color: white;
}

h1 {
  text-align: center;
  color: black;
}

h3 {
  text-align: center;
  margin: 49px;
}

ul {
  list-style: none;
}

strong {
  text-align: left;
  color: yellowgreen;
}

a {
  color: black;
}

#image {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}

#img-caption {
  color: yellowgreen;
  text-align: center;
  margin: 0.8rem;
}
